{% load staticfiles %}

<section class="features">
    <div class="container">
            <div class="columns six">
                <div class="img-container">
                    <img class="wow fadeInUp" src="{% static "img/mockup.png" %}">
                </div>
            </div>
            
            <div class="columns three">
                <h5 class="">For Writers</h5>
                <h6><strong>Profile</strong></h6>
                <p>Showcase your best work, reviews, and accomplishments</p>
                <h6><strong>Marketplace</strong></h6>
                <p>Profit from your ideas, passion projects, and past work in our content marketplace.</p>
                <h6><strong>Dashboard</strong></h6>
                <p>Keep track of all your work, payments, and pitches</p>
            </div>

            <div class="columns three">
                <h5 class>For Companies</h5>
                <h6><strong>Locally sourced</strong></h6>
                <p>Get ideas and applications from local writers who understand your market.</p>
                <h6><strong>Collaborate</strong></h6>
                <p>Connect and collaborate with your writers using our suite of editorial tools</p>
                <h6><strong>Payments</strong></h6>
                <p>Receive job reports for every article you commission</p>

            </div>
    </div>
</section>
