{% load staticfiles %}

<section class="features">
    <div class="container">
            <div class="columns six">
                <div class="img-container">
                    <img class="wow fadeInUp" src="{% static "img/mockup.png" %}">
                </div>
            </div>
            
            <div class="columns three">
                <h5 class="">For Competitors</h5>
                <h6><strong>Profile</strong></h6>
                <p>Showcase your best work, reviews, and accomplishments</p>
                <h6><strong>Competitions</strong></h6>
                <p>Realize your ideas. Compete in battles. Learn from the masters.</p>
                <h6><strong>Dashboard</strong></h6>
                <p>Keep track of whatever is going on.</p>
            </div>

            <div class="columns three">
                <h5 class>For Orgnizations</h5>
                <h6><strong>Pretty much the same so far</strong></h6>
                <p>Hahaha </p>
                <h6><strong>Advertisements?</strong></h6>
                <p>This is where you upload your advertisements or something.</p>
                <h6><strong>Payments</strong></h6>
                <p>And maybe reveive payments in the future.</p>

            </div>
    </div>
</section>
