{% load staticfiles %}
<section class="hero">
    <div class="container">
            <div class="row">
                <div class="columns six hero offset-by-three u-pull-center">
                <h1 class="style wow fadeInDown" data-wow-duration="1s" >Connecting Brands to the Right Voices</h1>
                <h5 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1s" >Collaborate to Create Great Content</h5>
                <a class="button blue wow fadeIn" data-wow-duration="1s" data-wow-delay="1s" href="http://eepurl.com/btw2tX">Join the Beta!</a>
                </div>
            </div>
    </div>
    <div class="container">
            <div class="row" style="padding-bottom:0;">
                <div class="column twelve u-pull-center featured" style="padding-top:40px;">
                    <p class="caption-c">AS FEATURED IN</p>
                </div>
            </div>
            <div class="row" style="padding-top:0;">
                <div class="column four  feat-icon u-pull-center"><a href="https://vulcanpost.com/420111/8-startups-sph-plug-play-demo-day-2015/" target="_blank"><img src="{% static "img/vulcanpost.png" %}"></a>
                </div>
                <div class="column four  feat-icon u-pull-center"><a href="http://www.businesstimes.com.sg/companies-markets/sph-plug-play-8-startups-showcase-at-demo-day" target="_blank"><img src="{% static "img/bt.png" %}"></a>
                </div>
                <div class="column four  feat-icon u-pull-center"><a href="http://e27.co/8-startups-graduate-sph-plug-play-accelerator-programme-20151022/" target="_blank"><img src="{% static "img/e27.png" %}"></a>
                </div>
            </div>
  </div>
</section>

