{% load staticfiles %}
<header class="homepage">
  <div class="container">
    <ul class="menu-navigation">
      <li class="logo-container"><a href="/"><img src="{% static "img/logo-white.png" %}" class="nav-logo"></a></li>
      <li class="login"><a class="button blue button-login u-pull-right" href="/accounts/login/">LOG IN</a></li>
        <!--<li class="blog"><a class="text u-pull-right" href="/blog">BLOG</a></a></li>-->
      <li class="writers"><a class="text u-pull-right" href="#writer">WRITERS</a></li>
      <li class="brands"><a class="text u-pull-right" href="#company">BRANDS</a></li>
      <li class="blog"><a class="text u-pull-right" href="http://blog.boltmedia.co">BLOG</a></li>
    </ul>
    </div>
</header>

