{% load staticfiles %}

<section class="signup">
    <div class="container">
        <div class="row">
            <div class="columns ten signup-form-parent offset-by-one">
            <h4 class="u-pull-center">Start Writing with Connverse</h4>
<form action="//boltmedia.us11.list-manage.com/subscribe/post?u=9fa8bb89a5842cad7d1e96af6&amp;id=8d9ccb2fdd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate signup" target="_blank" novalidate>
                <div class="signup-form"> 
                        <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe submit_btn" class="button">
                        <span><input type="text" name="EMAIL" id="email mce-EMAIL" placeholder="e-mail address "/></span> 
                    </div> 
            </form>
            </div>
        </div>
        </div>
</section>
