{% load staticfiles %}

<section class="support">
    <div class="container">
                <div class="columns one side-margin">&nbsp;</div>
                <div class="columns ten u-pull-center">
                <!--<hr class="line-white">-->
                <p> Bolt Media is a member of the SPH Plug and Play Accelerator <a href="http://sphplugandplay.sph.com.sg"> <img class="support-img" src="{% static "img/sphpnp-color.png" %}"></a></p>
                </div>
                <div class="columns one side-margin">&nbsp;</div>
    </div>

</section>