{% load staticfiles %}

<a name="company"></a>
<section class="why why-company">
    <div class="container">
                <div class="columns six offset-by-three u-pull-center">
                <img class="img-bolt-stand2" src="{% static "img/bolt-stand-out-2.png" %}">
                <img class="img-bolt-stand1" src="{% static "img/bolt-stand-out-1.png" %}">
                <img class="img-bolt-stand3" src="{% static "img/bolt-stand-out-3.png" %}">
                <h2 class="wow fadeInUp"><strong>Make your content stand out</strong></h2>
                <h6 class="u-pull-left"><strong>Bolt connects you to relevant writers with the best ideas to drive your content strategy and help you succeed.</strong></h6>
                </div>
  </div>
</section>


<section class="vp vp-company">
    <div class="container">
        <div class="columns six offset-by-three u-pull-center">
        <h4> <strong>Outsource Your Content Needs</strong> </h4>
        </div>
    </div>
    <div class="container">
            <div class="columns four">
            <img class="u-pull-center" src="{% static "img/post-brief.png" %}">
            <h5 class="u-pull-center"><strong>Post a Brief</strong></h5>
            <h6>Not sure what you need? Post a brief and get ideas from writers</h6>
            </div>
            <div class="columns four">
            <img class="u-pull-center" src="{% static "img/review-ideas.png" %}">
            <h5 class="u-pull-center"><strong>Review Ideas</strong></h5>
            <h6>Shortlist your favorite ideas or ask customers to choose what they care about. 
            </h6>
            </div>
            <div class="columns four">
            <img class="u-pull-center" src="{% static "img/get-content.png" %}">
            <h5 class=" u-pull-center"><strong>Get Great Content</strong></h5>
            <h6>Collaborate with your team in a simple and efficient manner. Monitor progress and track success</h6>
            </div>
    </div>
</section>


<a name="writer"></a>
<section class="why why-writer">
    <div class="container">
                <div class="columns six offset-by-three u-pull-center">
                <img src="{% static "img/bolt-love.png" %}">

                <h2 class="wow fadeInUp"><strong>Turn your passion into a career</strong></h2>
                <h6 class="u-pull-left">Bolt matches you to interesting jobs and enables you to sell your best ideas on our marketplace.</h6>
                </div>
  </div>
</section>



<section class="vp vp-writer">
    <div class="container">
        <div class="columns six offset-by-three u-pull-center">
        <h4><strong>Showcase Your Best Work</strong></h4>
        </div>
    </div>
    <div class="container">
            <div class="columns four">
            <img class="u-pull-center" src="{% static "img/sell-idea.png" %}">
            <!--<h5 class="u-pull-center"><strong>Apply with an Idea</strong></h5>
-->
            <h5 class="u-pull-center"><strong>Get Paid for Your Ideas</strong></h5>
            <h6>You have great ideas, let them be heard. Apply to jobs with just an idea.</h6>
            </div>
            <div class="columns four">
            <img class="u-pull-center" src="{% static "img/bolt-crane.png" %}">
            <h5 class="u-pull-center"><strong>Build Your Portfolio</strong></h5>
            <h6>Get published and receive recommendations by clients to help you build your business. </h6>
            </div>
            <div class="columns four">
            <img class="u-pull-center" src="{% static "img/bolt-manage.png" %}">
            <h5 class="u-pull-center"><strong>Manage Your Tasks</strong></h5>
            <h6>Don't let anything slip through the cracks. Manage your many project deadlines and tasks with Bolt</h6>
            </div>
    </div>
</section>


