{% load staticfiles %}

<a name="company"></a>
<section class="why why-company">
    <div class="container">
                <div class="columns six offset-by-three u-pull-center">
                <img class="img-bolt-stand2" src="{% static "img/bolt-stand-out-2.png" %}">
                <img class="img-bolt-stand1" src="{% static "img/bolt-stand-out-1.png" %}">
                <img class="img-bolt-stand3" src="{% static "img/bolt-stand-out-3.png" %}">
                <h2 class="wow fadeInUp"><strong>Make your content stand out</strong></h2>
                <h6 class="u-pull-left"><strong>CoSpace provides a space for you to build from your ideas. </strong></h6>
                </div>
  </div>
</section>


<section class="vp vp-company">
    <div class="container">
        <div class="columns six offset-by-three u-pull-center">
        <h4> <strong>Getting the Information you need.</strong> </h4>
        </div>
    </div>
    <div class="container">
            <div class="columns four">
            <img class="u-pull-center" src="{% static "img/post-brief.png" %}">
            <h5 class="u-pull-center"><strong>Buying Components</strong></h5>
            <h6>Not sure what you need? You need to know what materials  you can use.</h6>
            </div>
            <div class="columns four">
            <img class="u-pull-center" src="{% static "img/review-ideas.png" %}">
            <h5 class="u-pull-center"><strong>Review Ideas</strong></h5>
            <h6>Communicate and compete with others is the best way to test your ideas.
            </h6>
            </div>
            <div class="columns four">
            <img class="u-pull-center" src="{% static "img/get-content.png" %}">
            <h5 class=" u-pull-center"><strong>Get Great Help</strong></h5>
            <h6>Learn from the best is the only way to become a master.</h6>
            </div>
    </div>
</section>


<a name="writer"></a>
<section class="why why-writer">
    <div class="container">
                <div class="columns six offset-by-three u-pull-center">
                <img src="{% static "img/bolt-love.png" %}">

                <h2 class="wow fadeInUp"><strong>Turn your passion into a reality</strong></h2>
                <h6 class="u-pull-left">CospaceRobot matches you with the best competitors and teachers. We provide the most advanced and classic tools that you need to build, create and innovate.</h6>
                </div>
  </div>
</section>



<section class="vp vp-writer">
    <div class="container">
        <div class="columns six offset-by-three u-pull-center">
        <h4><strong>Something you should know about.</strong></h4>
        </div>
    </div>
    <div class="container">
            <div class="columns four">
            <img class="u-pull-center" src="{% static "img/sell-idea.png" %}">
            <!--<h5 class="u-pull-center"><strong>Apply with an Idea</strong></h5>
-->
            <h5 class="u-pull-center"><strong>You can Buy stuff here.</strong></h5>
            <h6>Just buy...</h6>
            </div>
            <div class="columns four">
            <img class="u-pull-center" src="{% static "img/bolt-crane.png" %}">
            <h5 class="u-pull-center"><strong>Build Your Portfolio</strong></h5>
            <h6>Recommendations everyday. </h6>
            </div>
            <div class="columns four">
            <img class="u-pull-center" src="{% static "img/bolt-manage.png" %}">
            <h5 class="u-pull-center"><strong>Manage Your Space</strong></h5>
            <h6>We provide different softwares that you can use.</h6>
            </div>
    </div>
</section>


