{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}


{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block breadcrumb %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<!-- login snippet -->
<section class="app-login page-wrap">
    <div class="container">
        <div class="columns six offset-by-three ">
            <div class="panel-form">
              <div class="container">

                <h3>{% trans "Password Reset" %}</h3>
                
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
                <p class="caption-c">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

              </div>
            </div>
        </div>
    </div>
</section>
<!-- login snippet -->

{% endblock %}

