{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}


{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block breadcrumb %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<!-- login snippet -->
<section class="app-login page-wrap">
    <div class="container">
        <div class="columns six offset-by-three ">
            <div class="panel-form">
              <div class="container">
                <h3>{% trans "Change Password" %}</h3>
                <form class="signup" id="signup_form" method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="action">{% trans "Change Password" %}</button>
                </form>
              </div>
            </div>
        </div>
    </div>
</section>
<!-- login snippet -->

{% endblock %}

