{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}


{% block head_title %}{% trans "Set Password" %}{% endblock %}
{% block breadcrumb %}{% trans "Set Password" %}{% endblock %}


{% block content %}

<!-- login snippet -->
<section class="app-login page-wrap">
    <div class="container">
        <div class="columns six offset-by-three ">
            <div class="panel-form">
              <div class="container">



                <h3>{% trans "Set Password" %}</h3>

                <form class="signup" id="signup_form"  method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                </form>
              </div>

            </div>
        </div>
    </div>
</section>
<!-- login snippet -->

{% endblock %}

