{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}


{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block breadcrumb %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<!-- login snippet -->
<section class="app-login page-wrap">
    <div class="container">
        <div class="columns six offset-by-three ">
            <div class="panel-form">
              <div class="container">

                <h3>{% trans "Password Reset" %}</h3>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="caption-c">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form class="signup" id="signup_form"  method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'Reset My Password' %}" />
                </form>

                <p class="caption-c">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

              </div>
            </div>
        </div>
    </div>
</section>
<!-- login snippet -->

{% endblock %}

