{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}


{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}
{% block breadcrumb %}{% trans "Verify Your E-mail Address" %}{% endblock %}


{% block content %}

<!-- login snippet -->
<section class="app-login page-wrap">
    <div class="container">
        <div class="columns six offset-by-three ">
            <div class="panel-form">
              <div class="container">
                <h3>{% trans "Verify Your E-mail Address" %}</h3>
                <p class="caption-c">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

              </div>


            </div>
        </div>
    </div>
</section>
<!-- login snippet -->

{% endblock %}

