<md-content flex layout-fill layout="row" layout-sm="row" class="bgBoltGrey-20" layout-wrap layout-padding>
    <div flex="25" flex-lg="100" flex-md="100" flex-sm="100" layout="column" layout-fill flex-order-gt-lg="1" flex-order="2">
        <!--     <div class="bgWhite" layout="column" layout-padding flex style="margin-bottom:10px;">
        <div class="title brief"><span class="boltTeal">Brief</span> {[{currentBrief.title}]}</div>

        <div class="detail-section detail-bar" layout="row" layout-align="space-between center">
            <div layout="row">
                <p class="caption-b" style="padding-right:10px;">Due</p>
                <p class="caption-a">{[{ currentBrief.deadline | dateFormatter }]}</p>
            </div>
        </div>
    </div> -->
        <div class="bgWhite" layout="column" style="z-index: 0; margin:10px;" flex="50" flex-gt-lg="100">
            <!--  <span>
                <p class="caption-b" style="padding-left:10px;">Tasks</p>
            </span> -->
            <div class="task-list-parent {[{ task.status.label }]}" ng-repeat="task in tasks" layout-padding>
                <div class="" layout="row" layout-align="start center">
                    <div class="icon-task">
                        <img class="icon" ng-src="{[{ task.assignee.picture || '//:0'}]}">
                    </div>
                    <div class="column">
                        <div class="title" style="padding-left:20px;">{[{ task.type.label }]}</div>
                        <p class="caption-a" style="padding-left:20px;">{[{ task.assignee.firstName }]} {[{ task.assignee.lastName }]}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     <div flex="15" flex-md="100" flex-sm="100" layout="column"></div>
 -->
    <div flex="50" flex-lg="100" flex-md="100" flex-sm="100" layout="column" flex-order-gt-lg="2" flex-order="1">
        <div class="section-heading" layout="row" layout-align="space-between center">
            <div class="title">{[{currentBrief.title}]}</div>
            <div layout="row">
                <p ng-if="activeTask" class="caption-a" style="padding-right:10px;" ng-class="wordCount > tasks[0].wordCount ? 'boltRed' : (wordCount < 25 ? 'boltOrange' : 'boltGreen')" ng-bind-template="{[{wordCount}]} / {[{tasks[0].wordCount}]}"></p>
                <p class="caption-a">Due <span am-time-ago="currentBrief.deadline"></span></p>
            </div>
        </div>
        <!--     <div class="section-heading" layout="row" layout-align="center center" style="z-index: 0;">
            <div class="task-list-parent-horizontal {[{ task.status.label }]}" ng-repeat="task in tasks" layout-padding>
                <div class="" layout="column" layout-align="start center" >
                    <div class="icon-task">
                    <img class="icon" ng-src="{[{ task.assignee.picture || '//:0'}]}">
                    </div>
                    <div class="title">{[{ task.type.label }]}</div>
                    <p class="caption-a">{[{ task.assignee.firstName }]} {[{ task.assignee.lastName }]}</p>
                </div>

            </div>


    </div> -->
        <div class="section-item " layout="column">
                <div class="portfolio-article" layout="column" flex>
                <!-- Portfolio Img -->
                <div class="portfolio-img" layout="column" layout-align="start center">

                    <img class="portfolio-org" ng-src="{[{ currentBrief.picture || '/static/assets/img/portfolio-blank2.png' }]}" ngf-drop=setUserPicture(articlePicture) ngf-select=setArticlePicture(articlePicture)  ng-model="articlePicture" name="articlePicture" accept="image/*" ngf-max-size="5MB" />
                    <img class="portfolio-org" ngf-src="!articlePicture.$error && articlePicture" style="display:none;">
                    <input type="hidden" ngf-select ng-model="articlePicture"  name="articlePicture" accept="image/*" ngf-max-size="5MB" />

                </div>
            </div>
            <div class="boltBlue writing-title" ng-model="currentAssignment.title" medium-editor options='{"placeholder": "Enter a title", "disableToolbar": true, "paste.forcePlainText": true, "disableReturn": true}' bind-options="bindOptions"></div>
            <p class="writing-section" ng-model="currentAssignment.content" medium-editor options='{"placeholder": "Enter a description", "buttons": ["bold", "italic", "underline", "anchor", "header1", "header2", "quote", "orderedlist", "unorderedlist,","removeFormat"]}' bind-options="bindOptions"></p>
        </div>
        <div class="" layout="row" ng-show="canEditAssignment">
            <div class="section-button bgBoltTeal" layout="row" flex layout-align="center center" ng-click="saveCurrentAssignment()" ng-show="autoSaving || (!autoSaving && lastSaveTime)">
                <span ng-show="autoSaving">Saving...</span>
                <span ng-show="!autoSaving && lastSaveTime">Saved <span am-time-ago="lastSaveTime"></span></span>
            </div>
            <a class="section-button bgBoltBlue" layout="row" flex layout-align="center center" ng-click="saveCurrentAssignment()">
            Save Progress
        </a>
            <a class="section-button bgBoltBlue" layout="row" layout-align="center center" flex ng-show="activeTask.type.label === 'Write' || activeTask.type.label === 'Edit'" ng-click="submitCurrentAssignment()">
            Submit for Review
        </a>
            <a class="section-button bgBoltBlue" layout="row" layout-align="center center" flex ng-show="activeTask.type.label === 'Review' || activeTask.type.label === 'Edit'" ng-click="rejectCurrentAssignment()">
            Request Revision
        </a>
            <a class="section-button bgBoltBlue" layout="row" layout-align="center center" flex ng-show="activeTask.type.label === 'Review'" ng-click="acceptCurrentAssignment()">
            Accept
        </a>
        </div>
    </div>
    <div flex="25" flex-lg="100" flex-md="100" flex-sm="100" layout="column" layout-fill flex-order-gt-lg="3" flex-order="3">
        <div class="" layout="column" style="padding:9px;">
            <div class="section-item" ng-repeat="comment in comments" style="margin-top:1px;">
                <div layout="column">
                    <div layout="row" layout-align="start center">
                        <img ng-src="{[{comment.user.picture || '//:0'}]}" class="icon-mini" style="margin-right:10px">
                        <div flex>{[{comment.user.firstName}]} {[{comment.user.lastName}]}</div>
                        <span class="boltGrey" am-time-ago="comment.created"></span>
                    </div>
                    <div>{[{comment.content}]}</div>
                </div>
            </div>
            <div class="section-item bgBoltGrey-5" layout="column" style="margin-top:0;">
                <textarea class="section" type="text" name="message" ng-model="currentComment" placeholder="Write a Comment" ng-auto-expand><span class="error">{[{ errors.content | errorFormatter }]}</span>
                </textarea>
            </div>
            <div class="section-button" layout="row" layout-align="center center" ng-click="saveComment(currentComment)"><span>Add Comment</span></div>
        </div>
    </div>
</md-content>
