<md-content flex layout-fill layout="row" layout-sm="row" class="bgBoltGrey-20" layout-wrap>
    <div flex="15" flex-md="100" flex-sm="100" layout="column">
    </div>
    <div flex="70" flex-md="100" flex-sm="100" layout="column" layout-fill class="bgBoltGrey-20">
        <!-- ACTIVE ASSIGNMENTS !! EVENTUALLY REPLACE WITH LOOP -->
        <div layout="column" layout-align="center start" class="section-heading bgBoltGrey-5">
            <div class="title">Active Assignments</div>
        </div>
        <div layout="column" layout-align="center start" class="section-item" ng-show="!activeTasks.length">
            <p class="caption-a">No Active Assignments!</p>
        </div>
        <div ng-repeat="assignment in activeTasks">
            <!-- Start Assignment List -->
            <div layout="row" layout-align="space-between start">
                <div class="section-item " layout="row" flex="grow">
                    <!-- Application Ttitle & Details -->
                    <div layout="column" flex>
                        <div class="title"> {[{assignment.taskBrief.title}]}</div>
                        <div class="caption-a">{[{ assignment.type.label }]}</div>
                    </div>
                    <div layout="column" flex="initial">
                        <p class="caption-b" style="padding-right:10px;">Due </p>
                        <div class="caption-a">{[{ assignment.deadline | dateFormatter }]}</div>
                    </div>
                </div>
                <!-- Application Buttons -->
                <div class="section-button bgBoltLightBlue" layout="column" layout-align="center center" style="margin-top:10px; align-self:stretch;" ng-click="viewAssignment(assignment.taskBrief,assignment.taskBrief.id)">
                    <div class="" >
                        View
                    </div>
                </div>
            </div>
            <!-- End Application Buttons -->
        </div>
        <!-- repeat -->
        <!-- UPCOMING ASSIGNMENTS !! EVENTUALLY REPLACE WITH LOOP -->
        <div layout="column" layout-align="center start " class="section-heading bgBoltGrey-5">
            <div class="title">Upcoming Assignments</div>
        </div>
        <div layout="column" layout-align="center start " class="section-item" ng-show="!inactiveTasks.length">
            <p class="caption-a">No Upcoming Assignments!</p>
        </div>
        <div ng-repeat="assignment in inactiveTasks">
            <!-- Start Assignment List -->
            <div layout="row" layout-align="space-between start">
                <div class="section-item " layout="row" flex="grow">
                    <!-- Application Ttitle & Details -->
                    <div layout="column" flex>
                        <div class="title"> {[{assignment.taskBrief.title}]}</div>
                        <div class="caption-a">{[{ assignment.type.label }]}</div>
                    </div>
                    <div layout="column" flex="initial">
                        <p class="caption-b" style="padding-right:10px;">Due </p>
                        <div class="caption-a">{[{ assignment.deadline | dateFormatter }]}</div>
                    </div>
                </div>
                <!-- Application Buttons -->
                <div class="section-button bgBoltLightBlue" layout="column" layout-align="center center" style="margin-top:10px; align-self:stretch;" ng-click="viewAssignment(assignment.taskBrief,assignment.taskBrief.id)">
                    <div class="" >
                        View
                    </div>
                </div>
            </div>
            <!-- End Application Buttons -->
        </div>
        <!-- repeat -->
        <!-- COMPLETED ASSIGNMENTS !! EVENTUALLY REPLACE WITH LOOP -->
        <div layout="column" layout-align="center start " class="section-heading bgBoltGrey-5">
            <div class="title">Completed Assignments</div>
        </div>
        <div layout="column" layout-align="center start " class="section-item" ng-show="!finishedTasks.length">
            <p class="caption-a">No Completed Assignments!</p>
        </div>
        <div ng-repeat="assignment in finishedTasks">
            <!-- Start Assignment List -->
            <div layout="row" layout-align="space-between start">
                <div class="section-item " layout="row" flex="grow">
                    <!-- Application Ttitle & Details -->
                    <div layout="column" flex>
                        <div class="title"> {[{assignment.taskBrief.title}]}</div>
                        <div class="caption-a">{[{ assignment.type.label }]}</div>
                    </div>
                    <div layout="column" flex="initial">
                        <p class="caption-b" style="padding-right:10px;">Due </p>
                        <div class="caption-a">{[{ assignment.deadline | dateFormatter }]}</div>
                    </div>
                </div>
                <!-- Application Buttons -->
                <div class="section-button bgBoltLightBlue" layout="column" layout-align="center center" style="margin-top:10px; align-self:stretch;" ng-click="viewAssignment(assignment.taskBrief,assignment.taskBrief.id)">
                    <div class="" >
                        View
                    </div>
                </div>
            </div>
            <!-- End Application Buttons -->
        </div>
        <!-- repeat -->
    </div>
    <div flex="15" flex-md="100" flex-sm="100" layout="column">
    </div>
</md-content>
