<h3>More stories make a happier Portfolio.</h3>
<!-- url: <input type="text" ng-model="url" value="" style="width:780px;"> -->
<md-input-container flex>
    <label>URL</label>
    <input name="url" ng-model="url">
</md-input-container>
<md-button class="md-raised md-primary" ng-click="addArticle()" style="margin-right:20px;">
    ADD
</md-button>
<!-- <ul>
    <li>href = {{parser.href}}</li>
    <li>protocol = {{parser.protocol}}</li>
    <li>host = {{parser.host}}</li>
    <li>hostname = {{parser.hostname}}</li>
    <li>port = {{parser.port}}</li>
    <li>pathname = {{parser.pathname}}</li>
    <li>hash = {{parser.hash}}</li>
    <li>search = {{parser.search}}</li>
</ul> -->
