<md-content flex layout-fill layout="row" layout-sm="column" class="bgBoltGrey-20" layout-wrap>
    <div flex="15" flex-md="100" flex-sm="100" layout="column">
    </div>
    <div flex="70" flex-md="100" flex-sm="100" layout="column" layout-fill class="bgBoltGrey-20">
        <!-- Initial Assignment -->
        <div class="section-item" layout="column">
            <div class="assignment-title" layout="row" layout-align="space-between center">
                <span class="error">{[{ errors.title | errorFormatter }]}</span>
                <input class="title boltBlue" placeholder="Add an Assignment Title" ng-model="brief.title" flex/>
                <div class="title">{[{currentOrg.name}]}</div>
            </div>
            <div class="detail-section detail-bar">
                <div layout="row" layout-fill layout-align="space-around center">
                    <!-- <p class="caption-a">Due Date</p> -->
                    <span class="error">{[{ errors.deadline | errorFormatter }]}</span>
                    <md-datepicker ng-model="brief.deadline" md-placeholder="Due Date" class="frame" readonly style="margin-left:0"></md-datepicker>
                    <!--<p class="caption-a">Topic:</p>-->
                    <span class="error">{[{ errors.topic | errorFormatter }]}</span>
                    <input type="text" name="topic" ng-model="brief.topic" placeholder="What is the topic of your assignment?" flex/>
                </div>
                <div layout="row" layout-fill layout-align="space-between start" style="padding-top:10px;">
                    <div flex layout="row">
                        <span class="error">{[{errors.categories | errorFormatter}]}</span>
                        <md-input-container ng-show="categories.length" class="small-padding" style="padding-left:0; padding-right:10px;">
                            <md-select name="category" class="brief-categories" ng-model="brief.category" placeholder="Industry">
                                <md-option ng-repeat="category in categories" ng-value="category">{[{category.label}]}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex="20" layout="row" layout-align="end start">
                        <span class="error">{[{ errors.organization | errorFormatter}]}</span>
                        <md-select name="organization" ng-model="brief.organization" aria-label="organization">
                            <md-option ng-repeat="org in userOrganizations" ng-selected="($index == 0) ? true:false" ng-value="{[{org.id}]}">{[{org.name}]}</md-option>
                        </md-select>
                    </div>
                </div>
            </div>
            <div class="keyword-section" layout="row" layout-fill layout-align="start center">
                <p class="caption-b" style="padding-right:10px;">KEYWORDS</p>
                <md-chips ng-model="brief.keywords" readonly="" placeholder="Enter a keyword" delete-button-label="Remove Keyword" delete-hint="Press delete to remove keyword" secondary-placeholder="+Keyword"></md-chips>
            </div>
            <div class="instruction-section" class="column">
                <p class="caption-a">ABOUT THE ASSIGNMENT</p>
                <span class="error">{[{errors.description | errorFormatter}]}</span>
                <textarea class="section" type="text" name="message" ng-model="brief.description" placeholder="Add a high-level outline of the assignment! Details can come later." ng-auto-expand>
                </textarea>
            </div>
            <div class="attachment-section" layout="row" layout-fill layout-align="start center">
                <p class="caption-b" style="padding-right:10px;">ATTACHMENTS</p>
                <div ng-repeat="attachment in assignment.attachments"><a href="{[{attachment.url}]}" class="chip bgBoltBlue">{[{attachment.name}]}</a></div>
            </div>
        </div>
        <!-- END Initial Assignment -->
        <div class="section-item" layout="column" ng-repeat="task in tasks" ng-if="task.type != Enum.TaskType.ACCEPTING">
            <div layout="row">
                <div class="boltBlue title" ng-if="task.type == Enum.TaskType.WRITING" flex>Compose Article</div>
                <a ng-click="deleteTask(task)" class="add-brief">
                    <div class="boltRed title">Delete</div>
                </a>
            </div>
            <form>
                <div class="detail-section detail-bar" layout="row" layout-fill layout-align="space-between center">
                    <div layout="column" layout-sm="column" class="" style="">
                        <span class="error">{[{ task.errors.deadline | errorFormatter }]}</span>
                        <md-datepicker ng-model="task.deadline" md-placeholder="Task Due" class="frame"></md-datepicker>
                    </div>
                    <div layout="column" layout-sm="column" class="" style="">
                        <md-input-container class="small-padding" style="padding-left:0; padding-right:10px;">
                            <span class="error">{[{ task.errors.goal | errorFormatter }]}</span>
                            <md-select name="goal" ng-model="task.goal" placeholder="Goal">
                                <md-option ng-repeat="goal in Enum.WritingGoal.values" ng-value="goal">{[{goal.label}]}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="column" layout-sm="column" class="" style="">
                        <md-input-container class="small-padding" style="padding-left:0; padding-right:10px;">
                            <span class="error">{[{ task.errors.contentType | errorFormatter }]}</span>
                            <md-select name="contentType" ng-model="task.contentType" placeholder="Medium">
                                <md-option ng-repeat="contentType in Enum.WritingContentType.values" ng-value="contentType">{[{contentType.label}]}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="column" layout-sm="column" class="" style="">
                        <md-input-container class="small-padding" style="padding-left:0; padding-right:10px;">
                            <span class="error">{[{ task.errors.pointOfView | errorFormatter }]}</span>
                            <md-select name="pointOfView" ng-model="task.pointOfView" placeholder="Narrative">
                                <md-option ng-repeat="pointOfView in Enum.WritingPointOfView.values" ng-value="pointOfView">{[{pointOfView.label}]}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="column" layout-sm="column" class="" style="">
                        <md-input-container class="small-padding" style="padding-left:0; padding-right:10px;">
                            <span class="error">{[{ task.errors.style | errorFormatter }]}</span>
                            <md-select name="style" ng-model="task.style" placeholder="Style">
                                <md-option ng-repeat="style in Enum.WritingStyle.values" ng-value="style">{[{style.label}]}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <span class="error">{[{ task.errors.wordCount | errorFormatter }]}</span>
                    <input type="text" name="topic" ng-model="task.wordCount" placeholder="Word Count" flex/>
                </div>
                <div class="instruction-section" class="column">
                    <p class="caption-a">TASK INSTRUCTIONS</p>
                    <textarea class="section" type="text" name="message" ng-model="task.description" placeholder="Share specific details about the task." ng-auto-expand>
                    </textarea>
                </div>
            </form>
            <div ng-if="task.job" layout-align="left center" class="brief">
                <div class="boltBlue title">Find a Freelancer</div>
                <p class="caption-b">This will post a public brief</p>
                <form>
                    <div class="detail-section detail-bar">
                        <div layout="row" layout-fill layout-align="start center">
                            <span class="error">{[{ task.job.errors.closingDate | errorFormatter }]}</span>
                            <md-datepicker ng-model="task.job.closingDate" md-placeholder="Closing Date" class="frame"></md-datepicker>
                            <span class="error">{[{ task.job.errors.price | errorFormatter }]}</span>
                            <input type="text" name="price" ng-model="task.job.price" placeholder="Price" flex="30" ui-money-mask=0></input>
                            <!--  <div class="caption-b"> Avg Price/Word</div>
                        <div class="caption-a">{[{task.job.price/task.wordCount  }]}
                         -->
                            <!--<p class="caption-a">Topic:</p>-->
                        </div>
                    </div>
                </form>
            </div>
            <div ng-if="!task.job" class="" layout="row" layout-align="center center">
                <a class="section-button bgBoltGrey-5 boltGrey" layout="column" layout-align="center center" flex>
                    <p>+ Add Assignee</p>
                </a>
                <a ng-click="createJob(task)" class="section-button bgBoltGrey-5 boltGrey" layout="column" layout-align="center center" flex>
                    <p>+ Find External Writer</p>
                </a>
            </div>
        </div>
        <a ng-show="!brief.published" ng-click="addTask()" class="section-button bgBoltBlue" layout="row" layout-align="center center">+ Add Task
        </a>
        <a ng-show="!brief.published" class="section-button bgBoltTeal" layout="row" layout-align="center center" ng-click="publishBrief()">
            <p>Publish</p>
        </a>
        <span ng-show="autoSaving">Saving...</span>
        <span ng-show="!autoSaving && lastSaveTime">Saved <span am-time-ago="lastSaveTime"></span></span>
    </div>
    <div flex="15" flex-md="100" flex-sm="100" layout="column">
    </div>
</md-content>
