<md-content flex layout-fill layout="row" layout-sm="column" class="bgBoltGrey-20" layout-wrap>
    <div flex="15" flex-md="100" flex-sm="100" layout="column">
    </div>
    <div flex="70" flex-md="100" flex-sm="100" layout="column" class="bgBoltGrey-20">
        <div layout="column" class="application">
            <div class="title">
                <span class="boltTeal">Job</span> &nbsp; <span class="boltLightGrey">{[{currentJob.task.taskBrief.title}]}</span>
            </div>
            <!-- Application Details -->
            <div class="detail-section detail-bar" layout="column">
                <div layout="row" layout-align="space-between center">
                    <div layout="row" layout-align="space-between">
                        <p class="caption-b" style="padding-right:10px;">Task</p>
                        <p class="caption-a">{[{currentJob.task.type.label}]}</p>
                    </div>
                    <!-- This will actually change depending on the type -->
                    <div layout="row">
                        <p class="caption-b" style="padding-right:10px;">Word Count</p>
                        <p class="caption-a">{[{currentJob.task.wordCount}]}</p>
                    </div>
                    <div layout="row">
                        <p class="caption-b" style="padding-right:10px;">Price </p>
                        <div class="caption-a">{[{currentJob.price | currency: "SG$" :0}]}</div>
                    </div>
                    <div layout="row">
                        <p class="caption-b" style="padding-right:10px;">Due </p>
                        <div class="caption-a">{[{currentJob.task.deadline | dateFormatter}]}</div>
                    </div>
                </div>
                <div layout="row" layout-align="space-between center">
                </div>
            </div>
            <div class="recommendation-section" class="column">
                <p class="caption-a">DESCRIPTION</p>
                {[{currentJob.description}]}
            </div>
        </div>
        <div layout="column" layout-align="left center" class="application bgBoltBlue">
            <div class="title">{[{applications.length}]} Applications</div>
        </div>
        <div ng-repeat="application in applications">
            <div class="application" layout="column">
                <div layout="row" layout-align="space-between">
                    <div class="title"> {[{application.applicant.firstName}]} {[{application.applicant.lastName}]}</div>
                    <div class="chip bgBoltTeal">{[{application.status.label}]}</div>
                </div>
                <p class="caption-a">{[{application.message}]}</p>
            </div>
            <!-- Application Buttons -->
            <div class="" layout="row">
                <a class="section-button bgBoltBlue" layout="row" layout-align="center center" ng-click="viewProfile(application.applicant)" flex>
                        View Freelancer
                </a>

                 <a class="section-button bgBoltBlue" layout="row" layout-align="center center" flex ng-show="1 ==1" ng-click="hireFreelancer(application)">
                        Hire
                    </a>
                <a class="section-button bgBoltBlue" layout="row" layout-align="center center" flex ng-show="application.status == Enum.ApplicationStatus.PENDING" ng-click="selectApplication(application)">
                        Accept Application
                    </a>
                <a class="section-button bgBoltBlue" layout="row" layout-align="center center" flex ng-show="application.status == Enum.ApplicationStatus.PENDING" ng-click="rejectApplication(application)">
                        Reject Freelancer
                    </a>
            </div>
            <!-- End Application -->
        </div>
        <div class="section-item" ng-show="!applications.length" layout="column" layout-align="center center">
            <span>There are no applications yet!</span>
        </div>
    </div>
    <div flex="15" flex-md="100" flex-sm="100" layout="column">
    </div>
</md-content>
